body {
  background-color: rgb(135, 175, 162);
}
.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  min-height: 300px;

  font-family: "Raleway", sans-serif;
}
.left-bar {
  background-color: rgba(252, 252, 252, 0.384);
  border-radius: 6px;
  padding: 20px 30px;
  min-width: 240px;
}
.search-form {
  display: flex;
  flex-wrap: nowrap; /*keeps input and button on the same line*/
  margin-top: 20px;
  align-items: center; /*centers the input and button vertically*/
  justify-content: center; /*centers the input and button horizontally*/
  width: 100%;
}
#search-input {
  border-radius: 5px;
  border: none;
  background-color: rgba(252, 252, 252, 0.651);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: rgb(96, 96, 96);
  flex: 1; /*makes the input field responsive to changes of the window size*/
  min-width: 100px; /*prevents the input field from overflowing the container*/
}
#button {
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
  background-color: rgba(185, 192, 190, 0.618);
  color: white;
  max-width: 80px;
  padding: 5px 20px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px rgba(38, 38, 38, 0.121);
  transition: background-color 0.3s;
  white-space: nowrap; /*prevents the button from breaking into two lines*/
}
#button:hover {
  background-color: rgb(135, 175, 162);
  cursor: pointer;
}
hr {
  margin-top: 20px;
  height: 1px;
  border: none;
  background-color: rgb(109, 138, 130);
}
.forecast-columns {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
}
.forecast-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 32px;
}

.weather-forecast-temperature {
  font-weight: 500;
}
.weather-forecast-temperature-max {
  color: rgb(104, 135, 125);
}
.weather-forecast-temperature-min {
  color: rgba(255, 255, 255, 0.714);
}

#current-icon img {
  display: block; /* Removes extra spacing from inline images */
  width: 120px; /* Ensures it scales properly */
  height: auto; /* Keeps aspect ratio */
  margin: 0 auto; /* Centers the icon */
}
.weather-forecast-icon img {
  display: block; /* Removes extra spacing from inline images */
  max-height: 32px; /* Ensures it scales properly */
  width: auto;
  margin: 0 auto;
  padding: 0;
}

.right-bar {
  background-color: rgba(252, 252, 252, 0.384);
  position: relative;
  border-radius: 6px;
  padding-left: 30px;
  /*center content vertically*/
  display: flex;
  align-items: center; /*centers contect vertically*/
  justify-content: flex-start; /*aligns the content to the left*/
  min-height: 150px;

  overflow: hidden; /*prevents the background image from overflowing the container*/
}

p {
  margin-bottom: 0px;
  margin-top: 0px;
}
.temperature-container {
  display: flex;
  align-items: flex-start; /*aligns the number and the degree symbol*/
  gap: 5px; /*space between the number and the degree symbol*/
  margin-bottom: 0;
  max-height: 120px;
}
#current-temperature {
  font-size: 120px;
  margin-top: 0;
  line-height: 1; /*prevents unnecessary space between the number and the degree symbol*/
  font-weight: 300;
}
.current-units {
  font-size: 20px;
  margin-top: 20px; /*slightly moves the units down*/
}
#in-city {
  margin-top: 20px;
}
#current-city {
  font-weight: bold;
  font-size: 30px;
}

.physics {
  margin-top: 30px;
  font-size: 15px;
  color: rgb(91, 90, 90);
}
#current-icon {
  font-size: 80px;
  font-variation-settings: "wght" 200, "GRAD" 0, "opsz" 48;
  margin-left: 40px;
}

footer {
  text-align: center;
  margin-top: 30px;
}
a {
  color: black;
}
